{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track vehicle by id</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tracking/styles.css' %}">


</head>
<body>
    <!-- <h1>Track Vehicle</h1> -->
    
    <div id="cover">
        <form id="icaoForm">
          <div class="tb">
            <div class="td"><input type="text" id="icao24" name="icao24" placeholder="Enter order id" required></div>
            <div class="td" id="s-cover">
              <button type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>
            </div>
          </div>
        </form>
      </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script>
        // Initialize the map and set its view
        var map = L.map('map').setView([41.306217, 69.282311], 5);  // Tashkent

        // Add OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors'
        }).addTo(map);

        // Icons

        var originIcon = L.icon({
			iconUrl: '{% static "tracking/shopiso.png"%}', 
			iconSize: [35, 35]
		})

        var destIcon = L.icon({
			iconUrl: '{% static "tracking/destiso.png"%}', 
			iconSize: [35, 35]
		})

        var truckIcon = L.icon({
			iconUrl: '{% static "tracking/truckiso.png"%}', 
			iconSize: [35, 35]
		})

        // Placeholder for the aircraft marker, point list, polyline and route
        var aircraftMarker = null;
        var route = null;
        var track_icao24 = null;
        var flightPathCoordinates = [];
        var flightPathPolyline = null;

        // Check initial position of truck marker (to stay zoomed in)
        let isInitialPosition = true;


        // Placeholder for the interval ID
        var dataFetchInterval = null;

        // Form submission handler
        document.getElementById('icaoForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var icao24 = document.getElementById('icao24').value;
            track_icao24 = icao24;
            fetchAircraftData(icao24);

            // Clear any existing interval
            if (dataFetchInterval) {
                clearInterval(dataFetchInterval);
            }

            // Start a new interval
            dataFetchInterval = setInterval(() => {
                fetchAircraftData(track_icao24);
            }, 10000);  // Fetch data every 10 seconds
        });

        // Function to fetch aircraft data by ICAO24
        function fetchAircraftData(icao24) {
            fetch(`/api/aircraft/${icao24}/`)
                .then(response => response.json())
                .then(data => {
                    const aircraftData = data.location;
                    console.log(aircraftData);
                    if (aircraftData !== null) {
                        
                        const latitude = aircraftData['y'];
                        const longitude = aircraftData['x'];
                        const startLat = aircraftData['start_lat'];
                        const startLng = aircraftData['start_long'];
                        const destinationLat = aircraftData['destination_lat'];
                        const destinationLng = aircraftData['destination_long'];
                        var startMarker = L.marker([startLat, startLng],{ icon: originIcon }).addTo(map); // these markers shouldn't be called if we are using routing functin i think
                        var destinationMarker = L.marker([destinationLat, destinationLng],{ icon: destIcon }).addTo(map);
                        console.log(latitude, longitude);
                        if (latitude && longitude) {
                            updateAircraftMarker(latitude, longitude);
                            //buildRoute(latitude, longitude);
                            flightPathCoordinates.push([latitude, longitude]);
                            console.log(flightPathCoordinates);
                            // If there are more than two points, draw polyline
                            if (flightPathCoordinates.length > 1) {
                                updateFlightPath();
                            }
                        }
                    } else {
                        alert("No aircraft found with that ICAO24 identifier.");
                    }

                })
                .catch(error => console.error('Error fetching aircraft data:', error));
        }

        // Function to update the aircraft marker
        function updateAircraftMarker(lat, lon) {
            // If the marker exists, update its position
            if (aircraftMarker) {
                aircraftMarker.setLatLng([lat, lon], { icon: truckIcon });
            } else {
                // Otherwise, create a new marker
                aircraftMarker = L.marker([lat, lon], { icon: truckIcon }).addTo(map);
            }
            if (isInitialPosition) {
                map.setView([lat, lon], 13);  // Center map on the aircraft
                isInitialPosition = false;    // Set the flag to false after the initial placement
            }
        }


        // Routing function
        function buildRoute(lat, lng){
            if (route){                               // checks if a route exists and replaces start coordinates
                var newLatLng = new L.latLng(lat,lng)
                route.spliceWaypoints(0, 1, newLatLng)
            } else {
                route = L.Routing.control({
                waypoints: [
                L.latLng(lat, lng),
                L.latLng(41.306217, 69.282311) // using set coordinates for now - Tashkent city centre
                ],
                serviceUrl: 'http://127.0.0.1:5000/route/v1', // my own osrm server
                lineOptions: {
                    addWaypoints: false,
                    styles: [{color: '#588157', opacity: 1, weight: 5}]
                },
                createMarker: function(i, wp, nWps) {
                    //if (i === 0 || i === nWps - 1) {
                    if (i === 0) {
                        // here change the starting and ending icons
                        return L.marker(wp.latLng, {
                        icon: originIcon // here pass the custom marker icon instance
                        });
                    } else if (i === nWps - 1) {
                        return L.marker(wp.latLng, {
                        icon: destIcon // here pass the custom marker icon instance
                        });

                    } else {
                    // here change all the others
                        return L.marker(wp.latLng, {
                        icon: destIcon
                        });
                    }
                }
                }).addTo(map);
                route.hide();
            }
        };

        
        // Function to update the flight path (polyline) on the map
        function updateFlightPath() {
            // Remove the previous polyline if it exists
            if (flightPathPolyline) {
                map.removeLayer(flightPathPolyline);
            }

            // Draw a new polyline connecting all the points in the flightPathCoordinates array
            flightPathPolyline = L.polyline(flightPathCoordinates, {color: 'blue'}).addTo(map);
        }
        
    </script>
</body>
</html>
