{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track vehicle by id</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Track Vehicle</h1>
    
    <form id="icaoForm">
        <label for="icao24">Enter vehicle id:</label>
        <input type="text" id="icao24" name="icao24" required>
        <button type="submit">Track Vehicle</button>
    </form>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <!-- <script src="{% static 'tracking/lrm-graphhopper.js' %}"></script> -->
    <script>
        // Initialize the map and set its view
        var map = L.map('map').setView([41.306217, 69.282311], 5);  // Tashkent

        // Add OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors'
        }).addTo(map);

        // Plane icon
        var planeIcon = L.icon({
			iconUrl: 'https://api.iconify.design/twemoji:airplane.svg', 
			iconSize: [35, 35]
		})

        var originIcon = L.icon({
			iconUrl: 'https://api.iconify.design/gis:flag-start.svg', 
			iconSize: [70, 70]
		})

        var destIcon = L.icon({
			iconUrl: 'https://api.iconify.design/gis:flag-finish.svg', 
			iconSize: [70, 70]
		})

        // Placeholder for the aircraft marker, point list, polyline and route
        var aircraftMarker = null;
        var route = null;
        var track_icao24 = null;
        var flightPathCoordinates = [];
        var flightPathPolyline = null;


        // Form submission handler
        document.getElementById('icaoForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var icao24 = document.getElementById('icao24').value;
            track_icao24 = icao24;
            fetchAircraftData(icao24);
        });

        // Function to fetch aircraft data by ICAO24
        function fetchAircraftData(icao24) {
            fetch(`/api/aircraft/${icao24}/`)
                .then(response => response.json())
                .then(data => {
                    const aircraftData = data.location;
                    console.log(aircraftData);
                    if (aircraftData !== null) {
                        
                        const latitude = aircraftData['y'];
                        const longitude = aircraftData['x'];
                        console.log(latitude, longitude);
                        if (latitude && longitude) {
                            updateAircraftMarker(latitude, longitude);
                            buildRoute(latitude, longitude);
                            flightPathCoordinates.push([latitude, longitude]);
                            console.log(flightPathCoordinates);
                            // If there are more than two points, draw polyline
                            if (flightPathCoordinates.length > 1) {
                                updateFlightPath();
                            }
                        }
                    } else {
                        alert("No aircraft found with that ICAO24 identifier.");
                    }

                    // // If valid data is received, update the marker and build route
                    // if (aircraftData.length > 0) {
                    //     const [icao24, callsign, origin_country, time_position, last_contact, longitude, latitude] = aircraftData[0];
                    //     if (latitude && longitude) {
                    //         updateAircraftMarker(latitude, longitude, callsign);
                    //         //buildRoute(latitude, longitude);
                    //         flightPathCoordinates.push([latitude, longitude]);
                    //         console.log(flightPathCoordinates);
                    //         // If there are more than two points, draw polyline
                    //         // if (flightPathCoordinates.length > 1) {
                    //         //     updateFlightPath();
                    //         // }
                    //     }
                    // } else {
                    //     alert("No aircraft found with that ICAO24 identifier.");
                    // }
                })
                .catch(error => console.error('Error fetching aircraft data:', error));
        }

        // Function to update the aircraft marker
        function updateAircraftMarker(lat, lon) {
            // If the marker exists, update its position
            if (aircraftMarker) {
                aircraftMarker.setLatLng([lat, lon], { icon: planeIcon });
            } else {
                // Otherwise, create a new marker
                aircraftMarker = L.marker([lat, lon], { icon: planeIcon }).addTo(map);
            }
            map.setView([lat, lon], 13);  // Center map on the aircraft
        }


        // Routing function
        function buildRoute(lat, lng){
            if (route){                               // checks if a route exists and replaces start coordinates
                var newLatLng = new L.latLng(lat,lng)
                route.spliceWaypoints(0, 1, newLatLng)
            } else {
                route = L.Routing.control({
                waypoints: [
                L.latLng(lat, lng),
                L.latLng(41.306217, 69.282311) // using set coordinates for now - Tashkent city centre
                ],
                serviceUrl: 'http://127.0.0.1:5000/route/v1', // my own osrm server
                createMarker: function(i, wp, nWps) {
                    //if (i === 0 || i === nWps - 1) {
                    if (i === 0) {
                        // here change the starting and ending icons
                        return L.marker(wp.latLng, {
                        icon: originIcon // here pass the custom marker icon instance
                        });
                    } else if (i === nWps - 1) {
                        return L.marker(wp.latLng, {
                        icon: destIcon // here pass the custom marker icon instance
                        });

                    } else {
                    // here change all the others
                        return L.marker(wp.latLng, {
                        icon: destIcon
                        });
                    }
                }
                }).addTo(map);
            }
        };

        
        // Function to update the flight path (polyline) on the map
        function updateFlightPath() {
            // Remove the previous polyline if it exists
            if (flightPathPolyline) {
                map.removeLayer(flightPathPolyline);
            }

            // Draw a new polyline connecting all the points in the flightPathCoordinates array
            flightPathPolyline = L.polyline(flightPathCoordinates, {color: 'blue'}).addTo(map);
        }
        
        setInterval(() => {
            fetchAircraftData(track_icao24);
        }, 10000);  // Fetch data every 15 seconds

    </script>
</body>
</html>
